/* Your custom styles */
html,
body,
header,
.view {
    height: 100%;
}

header {
    height: 100vh;
}

.card-body{
    color: #000;
}

.ddd{
    display: none;
}

#container,
#container2,
#container3,
#container4,
#container5,
#container5bis{
    display: none;
}

.navbar{
    background: #ffffffb3;
}

.nav-item.active{
    background: #00000082;
    border-radius: 20%;
}

section{
    padding: 3% 5%;
}

.list-unstyled li a:hover{
    cursor: pointer;
}